h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

h3 {
  margin-top: 24px;
}

.card-text {
  margin-top: 8px;
}

.drupal-img {
  margin-bottom: 16px;
  border-radius: 5px;
}

.tab-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabs {
  display: flex;
}

.tab-button {
  flex: 1;
  padding: 10px;
  background: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  text-align: center;
}

.tab-button:hover {
  background: #ddd;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
}
